﻿#centremiddle {
  padding: 10px;
  position: relative;
  margin: 0 auto;
  clear: left;
  z-index: 0;
  text-align: center;
  width: 50%;
  height: 75%;
  top: 5%
}

.outline {
  border: 1px solid #fff;
  border-color: green;
}

#LogoGenerator {
}

.m3s-spiel {
  text-align:justify;
  font-family: Arial, Helvetica, sans-serif;
  line-height:1.5em;
  font-size:initial;
}

.m3s-spiel p {
  margin: 0 0 0.5em 0;
}

.m3s-spiel-h2 {
  font-size: 2em;
  margin: 0 0 0.1em 0;
}

.m3s-spiel code {
  font-family: Consolas,"courier new";
}

.m3s-wgl-logo-img {
  height: 30px;
/*  border: solid;
  border-color: red;
  border-width: 2px;*/
}

.m3s-wgl-logo-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.m3s-wgl-logo:hover .m3s-wgl-logo-content {
  position: absolute;
  display: block;
}

.m3s-wgl-logo-content-item {
  border: 1px solid #fff;
  background-color: transparent;
}
  .m3s-wgl-logo-content-item:hover {
    border: 1px solid #fff;
    background-color: rgba(191,191,255,0.3);
  }
  .m3s-wgl-logo-content-item:active {
    border: 1px solid #fff;
    background-color: rgba(255,191,191,0.3);
  }


.m3s-wgl-widget-container {
  border: 4px solid #eeeeff;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  height: 75vh;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 25% 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "h c c " "m c c " "f c c ";
}

.m3s-wgl-widget-content {
  border-left: 4px solid #eeeeff;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  grid-area: c;
}

.m3s-wgl-widget-header {
  grid-area: h;
}

.m3s-wgl-widget-menu {
  grid-area: m;
}

.m3s-wgl-widget-footer {
  grid-area: f;
}

#m3s-wgl-widget {
  width: 100%;
  height: 100%;
}

.m3s-wgl-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

  .m3s-wgl-canvas:focus {
    outline: none;
  }

.m3s-wgl-logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-top: 10px;
  padding: 2px;
  height: 30px;
  background: rgba(255, 255, 255, .75);
  border-radius: 4px;
  border: solid;
  border-color: lightgray;
  border-width: 2px;
}

#m3s-wgl-renderOutput {
  height: 100%
}

.m3s-wgl-ui-cell {
  line-height: normal;
  height: auto;
}




.m3s-wgl-button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 90%;
  outline: none;
  background-image: url('button.gif');
  background-size: cover;
  background-position: center;
}
  .m3s-wgl-button:hover {
    background: none;
    background-image: url('button-hover.gif');
    background-size: cover;
    background-position: center;
  }

.half-width {
  width: 30%;
}

.m3s-wgl-ui-label {
  padding-bottom: 3px;
  float: left;
}

.m3s-wgl-ui-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  float: right;
  border: none;
  margin: 0;
  padding: 0;
  text-align: right;
  cursor: pointer;
  background: none;
  color: lightgray;
  text-transform: none;
  line-height: normal;
  width: auto;
  letter-spacing: normal;
  font-weight: lighter;
  min-width: initial;
  font-stretch: initial;
  text-shadow: initial;
}

  .m3s-wgl-ui-button:focus {
    outline: none;
  }

  .m3s-wgl-ui-button:hover {
    background: none;
    color: gray;
  }

#company_name {
  font-size: 1.2em;
  font-family: "Arial Black", Gadget, sans-serif;
  margin:0;
}

#gizmo_name {
  font-size: 1.8em;
  color: gray;
  border: none;
  margin: 0;
}

.m3s-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

  .m3s-slider:hover {
    opacity: 1;
  }

  .m3s-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('SliderHandle.gif');
    background-size: 23px 24px;
    cursor: pointer;
  }

  .m3s-slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('SliderHandle.gif');
    background-size: 23px 24px;
    cursor: pointer;
  }


.m3s-slider-hue {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background: url('hue.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

  .m3s-slider-hue:hover {
    opacity: 1;
  }

  .m3s-slider-hue::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 24px;
    border: 0;
    background: url('slider-hue.gif');
    background-size: 11px 24px;
    cursor: pointer;
  }

  .m3s-slider-hue::-moz-range-thumb {
    width: 11px;
    height: 24px;
    border: 0;
    background: url('slider-hue.gif');
    background-size: 11px 24px;
    cursor: pointer;
  }

.hidden {
  display: none;
}

#playcanvas-info {
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(255,0,0,0.8);
}

#m3s-spiel-less, #m3s-spiel-more {
  cursor: pointer;
}